* {
    margin: 0px;
    padding: 0px;
}

.header {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 75px;
    align-items: center;
    justify-content: center;
    display: flex
}

.header a {
    padding: 50px;
}
