.main {
    margin: 0px;
    padding: 0px;
    width: 800px;
    height: 100vh;
    display: flex;
}

.about {
    margin: 0px;
    padding: 0px;
    width: 800px;
    height: 100vh;
    display: flex;
}

.contact {
    margin: 0px;
    padding: 0px;
    width: 800px;
    height: 100vh;
    display: flex;
}