* {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.header {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 75px;
    align-items: center;
    justify-content: center;
    display: flex
}

.main {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    display: flex;
}